extends layout
block content
  nav.nav
    div.nav-left
        a.nav-item
            Logo.title.is-2
    div.nav-righ.nav-menu
        a.nav-item Home
    div.nav-righ.nav-menu
        a.nav-item Documentation
    div.nav-righ.nav-menu
        a.nav-item Blog
    div.nav-righ.nav-menu
        span.nav-item
            a(href="http://califian.com").button
                span Twitter
  div.container
    h1.title.is-1= title
    p Welcome to #{title}
  











  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js")
  script(src="javascripts/main.js")
